/* Основные переменные для цветов и шрифтов */
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-color: #333; /* Основной цвет текста */
  --background-color: #fff; /* Цвет фона */
  --link-color: #007bff; /* Цвет ссылок */
}

/* Сброс стандартных стилей и установка box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Стили для html и body */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-mono);
  color: var(--foreground-color);
  background-color: var(--background-color);
}

/* Стили для ссылок */
a {
  color: var(--link-color);
  text-decoration: none;
}

/* Дополнительные медиа-запросы, если нужны */
@media (prefers-color-scheme: light) {
  /* Специфические стили для светлой темы */
  body {
    /* Пример изменения фона и текста для светлой темы */
    background-color: #f8f9fa;
    color: #212529;
  }
}
